/*
body {
  background: #f4f4f4;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}
#container {
  width: 800px;
  overflow: auto;
  background: #fff;
  padding: 15px;
  margin: 10px;
  align: middle;
}
#theContainer {
  background: #fff;
  border-right: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}
#theContent{
  display:none;
}
*/
