
body {
    background-color: #bdc3c7;
}

.content {
    padding-top:30px;
}

.theCard {
    
}

.inner-wrap {
    width: auto; }

.move-right .inner-wrap {
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    margin-left: 114px; }

.left-off-canvas-menu {
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    position: fixed;
    width: 0;
    height: 100%; }

.move-right .left-off-canvas-menu {
    width: 114px; }

.move-right .exit-off-canvas {
    display: none; }

.left-off-canvas-toggle {
    display: none;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 3rem;
    color: #333;
    transition: all .25s ease-in-out; }
.left-off-canvas-toggle:focus {
    color: #333; }
.left-off-canvas-toggle:hover {
    color: #8c8c8c;
    transition: all .25s ease-in-out; }

.ad-block {
    margin-bottom: 2rem; }

.header.panel {
    margin: 3rem auto;
    border: 2px solid #444;
    background: #fff; }
.header.panel p {
    font: 1rem "Avenir Next";
    padding: 1rem 2rem 2rem 2rem;
    margin-top: -1.25rem; }
.header.panel p span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 75%;
    font-weight: bold; }
.header.panel .sign {
    background: #fff;
    width: 150px;
    height: 2.4rem;
    border: 2px solid #444;
    position: relative;
    top: -2.5rem;
    margin: auto; }
.header.panel .sign h1 {
    text-transform: uppercase;
    font: bolder 0.875rem "Avenir Next";
    letter-spacing: 3px;
    color: #666;
    font-size: 70%;
    text-align: center;
    line-height: 2rem; }
